@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family:  'Raleway', sans-serif;
}

h1 {
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgb(255, 255, 255);
} 

h2, h3 {
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgb(205, 127, 50);
}

#logo {
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px aliceblue;
}

#logo a {
    text-decoration: none;
    color: black;
}

header {
    background-color: rgb(205, 127, 50);
}

#page_links ul {
    text-align: center;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

#page_links li {
    display: inline;
    text-decoration: none;
    font-size: 13px;
}

#page_links a {
    text-decoration: none;
    color: aliceblue;
    text-shadow: 1px 1px black;
}

.title_fix {
    letter-spacing: 1px;
}

#img_container {
    width: 100%;
    height: 300px;  
}

#main_image {
    width: 100%;
    height: 100%;
    background-image: url(../images/pexels-giallo-859895.jpg);
    background-size: cover;
    background-position: center;
}

.content_body {
    margin-left: 15px;
}

.title_text {
    text-align: center;
    margin-right: 15px;    
}

.icon {
    color: rgb(205, 127, 50);
    text-shadow: 1px 1px black;
}

#what_is {
    padding-top: 15px;
}

/* #icon_team {
    display: flex;
}

#icon_puzzle {
    display: flex;
    justify-content: center;
}

#icon_fun {
    display: flex;
    justify-content: end;
    padding-right: 10px;
} */

.book_now {
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    background-color: rgb(205, 127, 50);
    margin: 25px 0 ;
    padding: 12px;
}

button a {
    text-decoration: none;
    color: aliceblue;
    text-shadow: 1px 1px black;
}

#our_staff {
    width: 100%;
}

#staff_box_1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

#staff_box_2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

#staff_box_3 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.staff_img_container {
    width: 375px;
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img_ceo {
    justify-content: center;
    background-image: url('../images/pexels-emmy-e-2381069.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 4px solid rgb(205, 127, 50);
    border-radius: 50%;
    height: 75%;
    width: 75%;
}

#img_cmo {
    justify-content: center;
    background-image: url('../images/pexels-ali-madad-sakhirani-997512.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0;
    background-size: cover;
    border: 4px solid rgb(205, 127, 50);
    border-radius: 50%;
    height: 75%;
    width: 75%;
}

#img_cto {
    justify-content: center;
    background-image: url('../images/pexels-andrea-piacquadio-3779760.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0;
    background-size: cover;
    border: 4px solid rgb(205, 127, 50);
    border-radius: 50%;
    height: 75%;
    width: 75%;
}

.staff_title_container {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.staff_txt_container {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
}

#staff_footer_break {
    padding-bottom: 25px ;
}

.main_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.room_box {
    width: 300px;
    height: 450px;
    background-color: rgb(205, 127, 50);
    margin: 20px;
    border: 3px solid black;
}

#room_img_pirate {
    background-image: url('../images/pirate.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    margin: 10px;
}

#room_img_zombie {
    background-image: url('../images/zombie.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    margin: 10px;
}

#room_img_alien {
    background-image: url('../images/alien.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    margin: 10px;
}

.room_title {
    text-align: center;
    text-shadow: 1px 1px aliceblue;
    padding-bottom: 5px;
}

#room_text_box {
    width: 100%;
    height: 140px;
    display: flex;
}

.room_desc {
    max-height: 135px;
    padding: 0px 10px;
}

.book_now_rooms {
    display: flex;
    /* height: 80px; */
    justify-content: center;
    align-content: center;
}

.button_rooms {  
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 12px;
}

#newsletter {
    background-image: url('../images/mel-poole-eo5Hrzyb4D0-unsplash.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#form_box {
    height: 450px;
    width: 350px;
    margin: 25px 0;
    padding: 10px;
    background-color: rgba(205, 127, 50, 0.7)
}

.form_input {
    width: 100%;
    height: 24px;
    border: 1px solid black;
    background-color: white;
    margin: 5px 0;
}

#room_button_select {
    display: inline;
}

#room_button_select input {
    margin: 15px;
}

#submit_button  input {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    text-shadow: 1px 1px rgb(205, 127, 50);
    padding: 10px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 3px;
    margin-left: 75px;
}

.contact_container {
    height: 300px;
    margin: 50px 15px;
}

.contact_container h3 {
    margin: 0 10px;
}

footer {
    background-color: rgb(205, 127, 50);
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: aliceblue;
    font-size: 20px;
}