@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {

}

h1, h2 {
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
}

#logo {
    text-align: center;
    padding: 10px;
}

header {
    background-color: red;
}

#page_links ul {
    text-align: center;
    padding-bottom: 5px;
}
#page_links li {
    display: inline;
    text-decoration: none;
}

#page_links a {
    text-decoration: none;
}

