@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family:  'Raleway', sans-serif;
}

h1, h2, h3 {
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgb(205, 127, 50);
}

#logo {
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px aliceblue;
}

header {
    background-color: rgb(205, 127, 50);
}

#page_links ul {
    text-align: center;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

#page_links li {
    display: inline;
    text-decoration: none;
    font-size: 13px;
}

#page_links a {
    text-decoration: none;
    color: aliceblue;
}

#img_container {
    width: 100%;
    height: 300px;  
}

#main_image {
    width: 100%;
    height: 100%;
    background-image: url(../images/pexels-giallo-859895.jpg);
    background-size: cover;
    background-position: center;
}

.content_body {
    margin-left: 10px;
}

.title_text {
    text-align: center;
    margin-right: 10px;    
}

.icon {
    color: rgb(205, 127, 50);
    text-shadow: 1px 1px black;
}

#what_is {
    padding-top: 15px;
}

#icon_team {
    display: flex;
}

#icon_puzzle {
    display: flex;
    justify-content: center;
}

#icon_fun {
    display: flex;
    justify-content: end;
    padding-right: 10px;
}

footer {
    background-color: rgb(205, 127, 50);
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: aliceblue;
    font-size: 20px;
}